mirrors:
  docker.io:
    endpoint:
      - "http://{{ caching_registry_server }}:5001"
  quay.io:
    endpoint:
      - "http://{{ caching_registry_server }}:5002"
  k8s.gcr.io:
    endpoint:
      - "http://{{ caching_registry_server }}:5003"
  gcr.io:
    endpoint:
      - "http://{{ caching_registry_server }}:5004"
  ghcr.io:
    endpoint:
      - "http://{{ caching_registry_server }}:5005"
  {{ caching_registry_server_fqdn }}{{ caching_registry_server_fqdn_port }}:
    endpoint:
      - "http://{{ caching_registry_server }}:5006"