downloadSwap
terraform*/terraform.tfstate
terraform*/terraform.tfstate.backup
terraform*/.terraform.lock.hcl
terraform*/terraform-plugin-proxmox.log
terraform*/vars.tf
terraform*/.terraform
inventory/my-*
TODO.md
